@import "~uview-ui/index.scss";


.confirm-btn {
  font-size: 32upx;
  height: 88rpx;
  line-height: 88rpx;
  .u-size-default, &.u-size-default{
    color: #fff!important;
    border-radius: 88rpx;
    background: linear-gradient(to right, #52D1FF 0%, #5C77FF 100%);
    &::after{
      border: none!important;
    }
  }
}

.lzy-box-shadow{
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.card-item{
  width: 554upx;
  height: 172upx;
  border-radius: 20upx;
  background-size: 277px;
  background-repeat: no-repeat;
}

.card-item-icon{
  width: 60upx;
  height: 60upx;
}

.u-action{
  width: auto!important;
}
